@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
bodY{
  width: 100%;
  min-height: 100vh;
  
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
}
.searchInput{
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 30px;
  padding: 8px 12px;
  background: #ffffff30;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  font-size: 18px
}

.searchInput:focus{
  border: 1px solid black;
  outline: none
}
.background{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;

  background-color: #fff;
  background-image: url('/public/assets/background/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
.weather_city{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.weather_name{
  transform: rotate(90deg);
  margin-top:30px
  
}
.weather_info{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.background_city{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.information_panel{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background: #ffffff40;
  border-radius: 8px;
  padding: 10px;
  gap: 16px;
  column-gap: 30px;
}
.panel div{
  display: grid;
  justify-content: center;
  text-align: center
}

.weather{
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
::placeholder {
  color: black;
  opacity: .7; /* Firefox */
}
.dec{
  background: #ffffff50;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  backdrop-filter: blur(2px);
}
@media (max-width:768px) {
  .dec{
    width: 90%;
  }
  
}
@media (max-width:425px) {
  .searchInput{
    width: 100% ;
  }
  .dec{
    width: 100%;
  }
}
